@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Neonderthaw&display=swap');


html {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: hsl(218, 23%, 16%);
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}

.cardMain {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  margin: auto;
  width: 350px;
  border-radius: 10px;
  background: hsl(217, 19%, 24%);
}

.divider {
  margin-bottom: 2rem;
}

.title {
  color: hsl(150, 100%, 66%);font-size: 14px;
  letter-spacing: 5px;
  font-size: 10px;
}

.paragraph {
  color: hsl(193, 38%, 86%);
  text-align: center;
  font-size: 28px;
}


.new-advice {
  margin-bottom: -55px;
  display: grid;
  place-items: center;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: hsl(150, 100%, 66%);
  cursor: pointer;
}

.new-advice:hover {
  background: hsl(150, 94%, 68%);
  box-shadow: 0 0 30px hsl(150, 100%, 66%);
}

.attribution {
  font-size: 8px;
  color: hsl(193, 38%, 86%);
  text-align: center;
  margin-top: 5rem;
}

.bg {
  display: none;
}

@media screen and (min-width: 700px) {
  .bg {
    display: block;
  }
  .sm {
    display: none;
  }
  .cardMain {
    width: 500px;
  }
}